.dummy{
    color : black;
}
 
 
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}
 
h1, h6,h3{
    font-family: 'Oswald', sans-serif;
}
 
*::selection{
    background:var(--yellow);
    color:#fff;
}
 
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 
body{
    overflow-x: hidden;
    height:200rem;
} 
 
html::-webkit-scrollbar{
    width:1.4rem;
}
 
html::-webkit-scrollbar-track{
    background:#333;
}
 
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:#333;
}
 
.heading span{
    color:var(--yellow);
}
 
 
 
@keyframes animte{
    0%{
        transform:rotate(45deg) translateY(-40rem);
    }
}
 
.popular{
    background: linear-gradient(rgba(232, 248, 51, 0.941), rgba(99, 252, 91, 0.866)),url('https://imgd.aeplcdn.com/476x268/n/cw/ec/134287/city-exterior-right-front-three-quarter-76.jpeg?isig=0&q=80/aeplcdn.com') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
.popular .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.popular .box-container .box {
    background: linear-gradient(rgb(230, 247, 252), rgba(130, 238, 255, 0.92));
    max-width: calc(33% - 4rem); /* 50% minus margins */
    width: 25rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.popular .box-container .box .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
 
.popular .box-container .box .content-wrapper img {
    height: 100px;
    width: 80px;
}
 
.popular .box-container .box .content-wrapper h5 {
    color: #333;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
 
.popular .box-container .box .price {
    color: #666;
    font-size: 1rem;
    margin-top: 0.5rem;
}
 
.popular .box-container .box:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
 
.modal.open {
    display: block;
}
 
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
 
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}