/* aboutUs.css */
.slds-align_absolute-center {
    border: 5px solid #d9d9d9;
    border-radius: 0.25rem;
    background-color: #f4f6f9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.slds-m-around_medium {
	border: 5px solid #d9d9d9;
    padding: 1rem;
}

p.slds-text-align_center {
	font-size: 20px;
    color: #333333;
    line-height: 1.75;
    margin-bottom: 1rem;
}

h1.slds-text-heading_large {
	font-size: 30px;
    color: #0070d2;
    text-align: center;
    margin-bottom: 1rem;
}